@import 'swiper/css';
@import 'swiper/css/pagination';

@import 'tailwindcss';

/* Tailwind overrides Chakra's global border color */
[class*='border-'] {
  border-color: revert-layer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
}

.sidebar {
  z-index: 999;
  animation: slide-in 0.3s ease forwards;
}

.sidegrid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
